dn: cn=module,cn=config
cn: module
objectclass: top
objectclass: olcModuleList
olcmoduleload: memberof.la
olcmoduleload: refint.la
olcmodulepath: /usr/lib64/openldap

dn: olcOverlay=memberof,olcDatabase={2}hdb,cn=config
objectClass: top
objectClass: olcConfig
objectClass: olcOverlayConfig
objectClass: olcMemberOf
olcOverlay: memberof

dn: olcOverlay=refint,olcDatabase={2}hdb,cn=config
objectClass: top
objectClass: olcConfig
objectClass: olcOverlayConfig
objectClass: olcRefintConfig
olcOverlay: refint
olcRefintAttribute: member owner
olcRefintNothing: {{ ldap_manager_dn }}
